1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
i = 1

while i < 101:
    if (i % 3) == 0 and (i % 5) == 0:
        print ("Mickey Mouse")
    elif (i % 3) == 0:
        print ("Mickey")
    elif (i % 5) == 0:
        print ("Mouse")
    else:
        print (i)
    i+=1

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [9]:
result_original = tuple(
    "MickeyMouse" if i % 3 == 0 and i % 5 == 0 else
    "Mickey" if i % 3 == 0 else
    "Mouse" if i % 5 == 0 else
    i
    for i in range(1, 101)
)


result_modified = tuple(
    str(item).replace("Mickey", "Donald").replace("Mouse", "Duck")
    for item in result_original
)

for i in result_modified:
    print(i)

1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
DonaldDuck
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
DonaldDuck
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
DonaldDuck
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
DonaldDuck
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
DonaldDuck
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
DonaldDuck
91
92
Donald
94
Duck
Donald
97
98
Donald
Duck

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [16]:
def swap_with_temp(x, y):
    temp = x
    x = y
    y = temp
    return x, y

def swap_without_temp(x, y):
    x, y = y, x
    return x, y
    
x = input("x = ")
y = input("y = ")

#x,y = swap_with_temp(x,y)
x,y = swap_without_temp(x,y)


print ("After swap:")
print ("x = ",x)
print ("y = ",y)

x = 3
y = 2
After swap:
x =  2
y =  3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [1]:
def dist(u, v):
    return pow((u[0] - v[0])**2 + (u[1] - v[1])**2 , 0.5)

In [2]:
# set points
x_u = 3
y_u = 0
x_v = 0
y_v = 4

u = (x_u, y_u)
v = (x_v, y_v)

dist = dist(u, v)
print ("d = ",dist)

d =  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [2]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [3]:
s = s.lower()

character = []
count = []

for i in s:
    if i not in character:
        character.append(i)
        count.append(s.count(i))

for i in range(0,len(character)):
    print ("Character", character[i], ":", count[i])

Character w : 2
Character r : 17
Character i : 14
Character t : 19
Character e : 22
Character   : 41
Character a : 7
Character p : 8
Character o : 13
Character g : 1
Character m : 12
Character h : 9
Character n : 10
Character s : 9
Character u : 9
Character b : 5
Character f : 10
Character 1 : 2
Character 0 : 2
Character . : 2
Character l : 6
Character c : 3
Character k : 2
Character y : 2
Character d : 3
Character v : 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [21]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [22]:
unique = []

for i in l:
    if l.count(i) == 1:
        unique.append(i)
        
print (unique)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [30]:
def square (a):
    return a**2

def cube (a):
    return a**3

def pow_six (a):
    return square(cube(a))

a = 2
b = pow_six(a)
print (b)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [31]:
cubes = []
for i in range (0, 11):
    cubes.append(i**3)

print (cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [32]:
cubes = [x**3 for x in range(11)]
print (cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
pythagorean_triples = tuple(
    (a, b, c)
    for a in range(1, 100)
    for b in range(a, 100)  
    for c in range(b, 100)  
    if a**2 + b**2 == c**2
)

for i in pythagorean_triples:
    print(i)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [15]:
v = (5, 6, 7, 8,10, 13, 17, 18, 20, 18, 16, 15, 13, 9, 5, 1)

In [17]:
def norm (v):
    tot = sum(v)
    return tuple(i / tot for i in v)

x_norm = norm(v)
print (x_norm)

(0.027624309392265192, 0.03314917127071823, 0.03867403314917127, 0.04419889502762431, 0.055248618784530384, 0.0718232044198895, 0.09392265193370165, 0.09944751381215469, 0.11049723756906077, 0.09944751381215469, 0.08839779005524862, 0.08287292817679558, 0.0718232044198895, 0.049723756906077346, 0.027624309392265192, 0.0055248618784530384)